* {
  background-color: f1f1f1;
}

/* elements for homepage */
section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Cards {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.Cards h1 {
  margin: 0 auto;
}
.Cards h4 {
  margin: 0 auto;
}
.ImageEx p {
  height: 25vh;
  margin: auto;
}
.ImageEx {
  height: 25vh;
  justify-content: center;
  align-items: center;
}

/*Footers for the document*/
.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  background: #1976d2;
  margin: 0;
  align-self: center;
}
.Footer p {
  margin-bottom: 0;
  color: white;
  margin: 0 auto;
  text-align: center;
}

/*containers for the proyect's categories*/
.Categories {
  height: 86vh;
  overflow-y: scroll;
  margin-top: 11vh;
}

a {
  color: white;
  text-decoration: none;
}
